/* ------------------------------------------------------------- */
/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ------------------------------------------------------------- */
/* Basic Setup */
body {
	/* overflow-y: hidden; */
	font-size: 62.5%;
}

html {
	width: 1140px;
	height: 100vh;
	background-color: #392bfa;
	margin: 0 auto;
	text-rendering: optimizeLegibility;
	color: #dbdbdb;
	font-family: "Roboto Mono", sans-serif;
	font-weight: 400;
	font-size: 1.5rem;
}

.hidden {
	display: none;
}

.wrapper {
	position: relative;
}

/* ------------------------------------------------------------- */
/* Header setup */
header {
	position: relative;
}

.header__top--left {
	position: absolute;
	float: left;
	top: 2rem;
	z-index: 1;
}
.header__top--right {
	position: absolute;
	float: right;
	top: 1.6rem;
	right: 1rem;
	z-index: 1;
}

.header__top--icon {
	font-size: 20px;
	padding-right: 6px;
	color: #6e708f;
}

/* ------------------------------------------------------------- */
/* Navigation */
.nav__bar {
	position: absolute;
	top: 50%;
}

.nav__bar--items {
	display: block;
	list-style: none;
}

a:link,
a:visited {
	text-decoration: none;
	color: #dbdbdb;
}

a:hover {
	color: #747474;
	cursor: default;
}

.sm-nav__bar--icon,
.sm-nav__bar--checkbox {
	display: none;
}

/* ------------------------------------------------------------- */
/* Main Content */
section {
	position: absolute;
	top: 30%;
	left: 15%;
	width: 85%;
}

section h2 {
	text-align: center;
	padding: 0 4rem 0 1.3rem;
}

.body__wrapper {
	margin: 0 auto;
	height: 100vh;
	position: relative;
	width: 100%;
}

/* ------------------------------------------------------------- */
/* Credentials Page */
.sm-span {
	width: 49.2%;
}

/* ------------------------------------------------------------- */
/* Portfolia Page */
.my-portfolio .row {
	margin-left: 6rem;
}

.my-portfolio ul {
	padding-top: 10px;
	list-style: none;
}

/* ------------------------------------------------------------- */
/* Contact Page */
.contact {
	padding-left: 20%;
	padding-right: 20%;
}

/* ------------------------------------------------------------- */
/* Footer */
footer {
	display: block;
	position: fixed;
	left: 50%;
	bottom: 2rem;
	transform: translateX(-50%);
}

footer p {
	text-align: center;
}

.footer-links li {
	display: inline-block;
	list-style: none;
	padding: 0 25px;
}

/* ------------------------------------------------------------- */
/* Media Queries (mobile first) */
@media only screen and (max-width: 72.5em) {
	html {
		padding: 0 0.3rem;
		width: 100%;
	}
	.nav__bar {
		position: relative;
		top: 1rem;
		left: 2rem;
	}
	.header__top--left {
		right: 0;
		top: 1rem;
	}
	.header__top--right {
		margin-top: 1rem;
	}
	section {
		margin-left: 2rem;
		width: 65%;
		font-size: 0.9rem;
	}
}

@media only screen and (max-width: 63.5em) {
	section {
		margin-left: 0;
		left: 0;
		width: 100%;
	}

	.nav__bar--items li {
		padding-top: 0.3rem;
	}

	.nav__bar--items a:link {
		background-color: rgba(49, 228, 252, 0.342);
	}

	.my-creds {
		width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 56.25em) {
	.about-me {
		top: 10%;
	}
}

@media only screen and (max-width: 50em) {
	/* .about-me {
		height: 50%;
	} */
	.sm-creds {
		display: block;
		font-size: 0.5rem;
	}
	.sm-creds-img {
		width: 50%;
	}
	.text-center {
		text-align: center;
	}
	.jump-right {
		margin-right: 2px;
	}
	.sm-span {
		width: 49.2%;
	}
}

@media only screen and (max-width: 37.5em) {
	html {
		padding: 0 1rem;
		width: 100%;
	}
	section {
		font-size: 90%;
		width: 100%;
	}
	.header__top--left,
	h1 {
		font-size: 1rem;
	}
	.header__top--right {
		left: 15%;
		font-size: 0.5rem;
		margin-bottom: 1rem;
	}
	.header__top--right a:first-child {
		font-size: 0.45rem;
	}
	.header__top--left {
		left: 10%;
	}
	.nav__bar {
		font-size: 82%;
		width: 45%;
		top: 1.5rem;
		left: -30px;
	}
	.nav__bar--nav {
		display: none;
		margin: 0 auto;
		z-index: 30;

		transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
	}
	.nav__bar--items a {
		background-color: black;
	}
	.nav__bar--items span {
		background-color: #392bfa;
	}
	.nav__bar--items li {
		display: inline-block;
	}
	section h2 {
		padding: 0 1.3rem 0.3rem 1.3rem;
	}
	.about-me {
		top: 25%;
	}
	.sm-creds {
		font-size: 0.5rem;
	}
	.sm-creds-img {
		width: 50%;
	}
	.text-center {
		text-align: center;
	}
	.jump-right {
		margin-right: 2px;
	}
	footer {
		position: absolute;
		bottom: 0.5rem;
	}
	#footer__external-links {
		font-size: 0.4rem;
	}
	footer p {
		font-size: 0.5rem;
	}
	.sm-nav__bar--checkbox {
		position: fixed;
		/* top: 1px; */
		left: 0.3rem;
		top: 1.2rem;
		opacity: 0;
		width: 0.6rem;
		display: block;
		padding-left: 0.5rem;
		z-index: 4000;
	}
	.sm-nav__background {
		position: fixed;
		background-color: black;
		width: 40%;
		top: 1.2rem;
		height: 26vh;
		display: none;
		z-index: 20;
		/* opacity: 1; */

		transition: transform 0.8s cubic-bezier(0.85, 0, 0.15, 1);
	}
	.sm-nav__bar--checkbox:checked ~ .sm-nav__background {
		display: block;
	}
	.sm-nav__bar--checkbox:checked ~ .nav__bar--nav {
		position: absolute;
		top: 0.5rem;
		left: 0.5rem;
		height: 26vh;
		display: block;

		transition: transform 0.8s cubic-bezier(0.34, 1.56, 0.64, 1);
	}
	.sm-nav__bar--checkbox:checked + .sm-nav__bar--label .sm-nav__bar--icon {
		background-color: transparent;
	}
	.sm-nav__bar--checkbox:checked + .sm-nav__bar--label .sm-nav__bar--icon::before {
		transform: rotate(130deg);
		background-color: white;
		top: 0.2rem;
	}
	.sm-nav__bar--checkbox:checked + .sm-nav__bar--label .sm-nav__bar--icon::after {
		transform: rotate(-130deg);
		background-color: white;
		top: 0.2rem;
	}
	.sm-nav__bar--icon {
		position: relative;
		z-index: 4000;
		margin-left: 0.5rem;
	}
	.sm-nav__bar--icon,
	.sm-nav__bar--icon::before,
	.sm-nav__bar--icon::after {
		height: 1.5px;
		width: 0.6rem;
		display: inline-block;
		background-color: black;
	}

	.sm-nav__bar--icon::before,
	.sm-nav__bar--icon::after {
		content: "";
		left: 0;
		transition: all 0.2s;
	}

	.sm-nav__bar--icon::before {
		position: absolute;
		top: -0.2rem;
	}
	.sm-nav__bar--icon::after {
		position: absolute;
		top: 0.2rem;
	}
	.welcome p,
	.about-me p,
	.my-business p {
		font-size: 0.5rem;
	}
	.contact {
		padding-left: 5%;
		padding-right: 5%;
	}
}
